@model Project.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>connect</title>
</head>
<body>
    <div> 
        connected user: @Model.name
    </div>
</body>
</html>
