@model Project.Models.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<body>
    <h1>SCE Portal</h1>
    <form action="Login/connect" method="post">
        ID:
        <input id="text" name="user_id" type="text" />
        <br />
        Passwor:
        <input id="password1" name="Password" type="password" />
        <br />
        <input id="Submit1" type="submit" value="Enter" />
    </form>

</body>


</html>